<div class="container">
  <div>
    <br />
    <br />
    <br />
    <br />
    <div class="form-group">
    <input data-ng-model="search.$"  type="text" placeholder="All Search" class="form-control" />
    </div>
    <br />
    <br />
    <table class="table">
      <tr ng-repeat="row in filterList | start: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage">
        <td>{{row.name}}</td>
        <td>  
        <div ng-repeat="email in row.Emails">    
            <div ng-repeat="(key, value) in email">
               <b> {{key | uppercase}}</b>&#160;{{value}}
                <br/>
            </div>          
          </div>
        </td>
        <td>  
            <div ng-repeat="contact in row.Contacts">    
                <div ng-repeat="(key, value) in contact">
                   <b> {{key | uppercase}}</b>&#160;{{value}}
                    <br/>
                </div>          
              </div>
            </td>
        
      </tr>
    </table>   
   
    <pagination total-items="filterList.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm"  items-per-page="itemsPerPage"></pagination>
    
 
  </div>
  </div>
