.Header{
    font-size: 30px;
    font-weight: 100;
    
}

.btn-circle {
  width: 20px;
  height: 20px;
  line-height: 0px; /* adjust line height to align vertically*/
  padding:0px!important;
  border-radius: 1200px;
  float: right;
  text-align: center;
  border: 10px solid #990000;
box-shadow: 2px 2px 2px #999;
margin: 4px;

}

        input.ng-invalid.ng-dirty {
            border: 1px solid red;
        }
        input.ng-valid.ng-dirty {
            border: 1px solid green;
        }
        input.ng-touched.ng-invalid {
            border: 1px solid red;
        }





